* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url('img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
}

nav {
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-end-end-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

li {
    margin: 0 10px;
}

.navbtn {
    padding: 10px 20px;
    font-size: large;
    border-radius: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

.navbtn:hover {
    background-color: #0299b8;
    transform: translateY(-0.5em);
    box-shadow: 0 10px 8px #56a1b3;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    li {
        margin: 5px 0;
    }

    .logo {
        width: 120px;
        margin: 0;
    }

    .navbtn {
        font-size: medium;
    }

    h1 {
        font-size: 2em;
    }

    h1 span {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        width: 100px;
    }

    nav {
        padding: 2%;
    }

    ul {
        margin-top: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    h1 span {
        font-size: 1.25em;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.REC,
.STUDENTBRANCH,
.BREADTHS {
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: both;
    color: black;
    width: 95%;
    padding: 2%;
    height: 95%;
    text-align: justify;
    font-size: 18px;
    border-radius: 5px;
    box-shadow:
        4px 4px 8px #2c3e50,
        -4px -4px 8px #56a1b3;
    transition-duration: 0.5s;
}

.REC {
    animation-delay: 0.3s;
}
.STUDENTBRANCH {
    animation-delay: 0.8s;
}
.BREADTHS {
    animation-delay: 1.3s;
}
.BREADTHS:hover,.STUDENTBRANCH:hover,.REC:hover{
    background-color: rgba(56, 77, 98, 0.9);
    color: #FFFF;
    transition-duration: 0.4s;
    transition:ease-out 0.5s;
    transform: scale(1.3);
}
.REC:hover h1.header,.STUDENTBRANCH:hover h1.header,.BREADTHS:hover h1.header 
{
    color: pink;
    transition-duration: 0.5s;
}
.header{
    color: rgb(71, 0, 106);
    margin-bottom: 1%;
}