* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: 1.6;
}

.hamburger{
    display:none;
  }  

nav {
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-end-end-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(50px);
    position: relative;
    z-index: 1000;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.logo {
    width: 150px;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    margin-right: 20px;
    display: flex;
    float: right;
}
nav ul li {
    margin: 0 7px;
    display: inline-block;
}

.navbtn {
    padding: 10px 20px;
    font-size: large;
    border-radius: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    transition: all 0.2s;
    cursor: pointer;
    width: 158px;
}
.navbtn:hover {
    background-color: #0299b8;
    transform: translateY(-0.3em);
    box-shadow: 0 10px 8px #56a1b3;
}
.no-scroll {
    overflow: hidden;
}
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    color: #fff;
    right: 2%;
    z-index: 10000;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
}


.container {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
}

p {
    text-align: center;
    margin-bottom: 40px;
}

.societies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.society {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-transform: uppercase;
}

.society h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #007BFF;
    text-align: center;
}

.contact {
    margin-bottom: 10px;
    border-bottom: 1.75px solid #ddd;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact1{
    border-top: 1.75px solid #ddd;
}

.contact p {
    margin: 5px 0;
}

.contact strong {
    color: #007BFF;
}

.contactus{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 2%;
    padding: 1%;
}

.Copyright{
    padding: 0.3%;
    font-weight: bold;
    color: black;
    border: solid 2px yellow;
    display: inline-block;
    border-radius: 35px;
    margin-top: 5px;
    margin-bottom: 0;
}
.nav-links{
    padding: 1%;
    word-spacing: 60px;
}
.links{
    text-decoration: none ;
    color: #29bfdd;
    font-size: 20px;
}
.reachus {
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    color: white;
    width: 40%;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.reachus p{
    text-align: left;
}
.phone-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
.footer-heading {
    font-size: 24px;
    margin-bottom: 10px;
}
.footer-hr {
    border: none;
    height: 2px;
    background-color: #FEC20E;
    margin-bottom: 20px;
}
.creators .footer-hr{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}
.reachus h3 {
    margin: 0 0 15px 0;
    font-size: 20px;
}
.reachus p {
    margin: 5px 0;
    line-height: 1.5;
}
.phone {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
.phone-icon {
    vertical-align: middle;
    margin-right: 10px;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}
#reach{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.creators{
    border-radius: 8px;
    margin: 0 auto;
    color: #29bfdd   ;
    width: 60%;
    text-align: center;
    padding-top:0.75px;
    padding-bottom: 2px;
}
.creators h1{
    color: #FFDD00;
    margin: 2px;
}
.names{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.names p{
    margin:0 auto;
}


@media only screen and (max-width: 480px) {
    nav ul {
        position: fixed;
        left: -100%;
        top: 3.5rem;
        padding-top: 25%;
        padding-bottom: 25%;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    .navbtn {
        padding: 10px 20px;
        font-size: large;
        border-radius: 25px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border: none;
        transition: all 0.2s;
        cursor: pointer;
        width: 175px;
    }

    nav ul.active {
        left: 0;
    }

    nav ul li {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 10000;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    nav ul {
        position: fixed;
        left: -100%;
        top: 3.5rem;
        padding-top: 25%;
        padding-bottom: 25%;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    .navbtn {
        padding: 10px 20px;
        font-size: large;
        border-radius: 25px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border: none;
        transition: all 0.2s;
        cursor: pointer;
        width: 175px;
    }

    nav ul.active {
        left: 0;
    }

    nav ul li {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 10000;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    nav ul {
        position: fixed;
        left: -100%;
        top: 3.5rem;
        padding-top: 25%;
        padding-bottom: 25%;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    .navbtn {
        padding: 10px 20px;
        font-size: large;
        border-radius: 25px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border: none;
        transition: all 0.2s;
        cursor: pointer;
        width: 175px;
    }

    nav ul.active {
        left: 0;
    }

    nav ul li {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 10000;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}
