nav {
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-end-end-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

li {
    margin: 0 10px;
}

.navbtn {
    padding: 10px 20px;
    font-size: large;
    border-radius: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.navbtn:hover {
    border: solid gray 2px;
    background-color: purple;
    transform: scale(1.2);
}

body {
    background-image: url(img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.events {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    border-radius: 1%;
    height: 100%;
}

.APS {
    width: 30%;
    height: 250px; 
    border: 1px solid black;
    background-color: #c5bce0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 8px 0;
}

.APS .image {
    height: 40%; 
}

.APS img {
    width: 40%;
}

.APS .soc {
    height: 40%;
    text-align: center;
}

.APS .title {
    height: 20%;
    text-align: center;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.APS:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front {
    background-color: #b5a6e3;
}

.flip-card-back {
    background-color: purple;
    color: white;
    transform: rotateY(180deg);
}

.reveal-btn {
    padding: 10px 20px;
    font-size: large;
    border-radius: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.reveal-btn:hover {
    background-color: #ff79c6;
}
