* {
    margin: 0;
    padding: 0;
}
nav {
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-end-end-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(50px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.event-content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    line-height: 1.8; 
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.event-content h2 {
    font-size: 2em;
    color: #0299b8; 
    margin-bottom: 15px;
    border-bottom: 2px solid #0299b8;
    padding-bottom: 10px;
    text-align: center;
}

.event-content p {
    font-size: 1.1em;
    margin-bottom: 15px;
    text-align: justify;
}

.event-content ul {
    list-style: disc inside; 
    padding-left: 0; 
    margin-bottom: 20px;
}

.event-content ul li {
    margin-bottom: 10px;
    padding-left: 10px; 
}

.event-content a {
    color: #0299b8;
    text-decoration: none; 
    transition: color 0.3s ease-in-out; 
}

.event-content a:hover {
    color: #017f92; 
    text-decoration: underline;
}

.event-content .btn {
    display: inline-block;
    background-color: #0299b8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1em;
    margin-top: 15px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.event-content .btn:hover {
    background-color: #017f92;
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.logo {
    width: 150px;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    margin-right: 20px;
    display: flex;
    float: right;
}

nav ul li {
    margin: 0 7px;
    display: inline-block;
}
.no-scroll {
    overflow: hidden;
}
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    color: #fff;
    right: 2%;
    z-index: 10000;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
}
.new-amsterdam-regular {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.event-content ul {
    display: block;
    list-style: none;
}

.event-content li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
    display: block;
}

.navbtn {
    padding: 10px 20px;
    font-size: large;
    border-radius: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    transition: all 0.2s;
    cursor: pointer;
    width: 158px;
}

.navbtn:hover {
    background-color: #0299b8;
    transform: translateY(-0.3em);
    box-shadow: 0 10px 8px #56a1b3;
}
body {
    background-image: url('img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    line-height: 1.6;
    padding-top: 70px;
}
.events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    padding: 2%;
    border-radius: 1%;
    margin: 3%;
}

.APS {
    height: 330px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    grid-template-columns: 64px 1fr;
    padding: 2%;
    position: relative;
    box-shadow:
        4px 4px 8px #2c3e50,
        -4px -4px 8px #56a1b3;
    transition-duration: 0.5s;
    text-transform: uppercase;
}

.APS:hover {
    transform: scale(1.1);
}

.APS .image {
    height: 35%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.APS .image img {
    width: 40%;
}

.APS .soc {
    height: 40%;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}
.APS .soc h1{
    font-size: 25px;
}

.APS .title {
    text-align: center;
    color: #017f92;
    font-size: 25px;
    font-weight: 700;
}

.studio-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    background: #0299b8;
    color: white;
    padding: 8px 10px;
    border-radius: 50px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    transition: 0.35s ease all;
    overflow: hidden;
    max-width: 22px;
}

.studio-button-icon {
    position: relative;
    top: 1px;
}

.studio-button-label {
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 8px;
    opacity: 0;
    transform: translateX(10px);
    transition: 0.3s ease all;
}

.APS:hover .studio-button {
    cursor: pointer;
    max-width: 100%;
}

.APS:hover .studio-button-label {
    opacity: 1;
    transform: translateX(0);
    transition: 0.25s 0.1s ease-in opacity, 0.15s 0.1s cubic-bezier(.175, .885, .32, 1.275) transform;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.85);
}

.popup-content {
    background: white;
    border-radius: 8px;
    text-align: justify;
    padding: 4%;
    max-width: 90%;
    max-height: 80%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    color: black; 
}

.popup-content::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.popup-content::-webkit-scrollbar-thumb {
    background-color: rgba(46, 181, 208, 0.5);
    border-radius: 10px;
}

.popup-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(46, 181, 208, 1);
    border-radius: 10px;
}

.popup-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.popup-content::-webkit-scrollbar-button {
    display: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    float: right;
}

.close-btn:hover {
    color: red;
    border: solid 1px red;
    border-radius: 20rem;
    padding-left:0.5%;
    padding-right: 0.5%;
    padding-top: 0;
    padding-bottom: 0;
    right: 5px;
    background-color: rgb(186, 184, 184);
}

.event-content {
    display: none;
}

.event-content h1,h3,h2,h4,h5{
    margin-top: 5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.one{
    border: 5px solid black;
    border-radius: 10px ;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 7%;
}

.two{
    border: 1px solid black;
    padding: 5%;
    margin-top: 3%;
    padding-top: 3%;
    margin-bottom: 5%;
}

.three{
    border: 1px solid black;
    padding: 2%;
    margin-top: 3%;
    padding-top: 3%;
}

.popup-content h1{
    color: #0299b8;
    font-size: 40px;
    text-align: center;
}
.popup-content h2{
    color: #0299b8;
    text-align: center;
}


.popup-content h3{
    color: #df102f;
}


.contactus{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 2%;
    padding: 1%;
}

.Copyright{
    padding: 0.3%;
    color: black;
    border: solid 2px yellow;
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
    border-radius: 35px;
}
.nav-links{
    padding: 1%;
    word-spacing: 60px;
}
.links{
    text-decoration: none ;
    color: #29bfdd;
    font-size: 20px;
}
.reachus {
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    width: 30%;
    color: white;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.phone-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
.footer-heading {
    font-size: 24px;
    margin-bottom: 10px;
}
.footer-hr {
    border: none;
    height: 2px;
    background-color: #FEC20E;
    margin-bottom: 20px;
}
.creators .footer-hr{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}
.reachus h3 {
    margin: 0 0 15px 0;
    font-size: 20px;
}
.reachus p {
    margin: 5px 0;
    line-height: 1.5;
}
.phone {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
.phone-icon {
    vertical-align: middle;
    margin-right: 10px;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}
#reach{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.creators{
    border-radius: 8px;
    margin: 0 auto;
    color: #29bfdd   ;
    width: 60%;
    text-align: center;
    padding-top:0.75px;
    padding-bottom: 2px;
}
@keyframes glitter {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.pdf {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    perspective: 1000px;
    overflow: hidden;
}

.pdf::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #0056b3;
    transform: rotateX(0deg) rotateY(0deg);
    animation: rotate 4s infinite linear;
    z-index: -1;
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(180deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.creators h1{
    background: linear-gradient(90deg, #00c6ff, #0072ff, #1e90ff, #4169e1, #0000ff, #0072ff, #00c6ff);
    background-size: 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glitter 1s alternate-reverse infinite;
    margin: 2px;
}
.names{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.names p{
    margin:0 auto;
}
.rform {
    margin-top: auto;
    margin-left: 60px;
    margin-bottom: 35px;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    background: linear-gradient(145deg, #02b0d4, #028ba0);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 153, 184, 0.6);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.rform::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, transparent 60%);
    transition: all 0.4s ease;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}

.rform:hover::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.rform:hover {
    background: linear-gradient(145deg, #02d4f7, #027a91);
    box-shadow: 0 8px 20px rgba(0, 153, 184, 0.8);
}

@media only screen and (max-width: 480px) {
    nav ul {
        position: fixed;
        left: -100%;
        top: 3.5rem;
        padding-top: 25%;
        padding-bottom: 25%;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    .navbtn {
        padding: 10px 20px;
        font-size: large;
        border-radius: 25px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border: none;
        transition: all 0.2s;
        cursor: pointer;
        width: 175px;
    }

    nav ul.active {
        left: 0;
    }

    nav ul li {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 10000;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-links {
        padding: 5%;
        word-spacing: 20px;
    }

    .links {
        font-size: 14px;
    }

    .reachus {
        width: 90%;
        padding: 10px;
        max-width: 300px;
        margin-bottom:15px;
    }

    .phone-container {
        font-size: 14px;
        margin-top: 5px;
    }

    .footer-heading {
        font-size: 18px;
    }
    .creators .footer-hr {
        margin-bottom: 10px;
        width: 70%;
    }
    .footer-hr{
        margin-bottom: 0 auto;
        width: 100%;
    }

    .reachus h3 {
        font-size: 16px;
    }

    .reachus p {
        line-height: 1.3;
    }

    .phone {
        margin-top: 5px;
        font-size: 14px;
    }

    .icons {
        gap: 10px;
    }

    #reach {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .creators {
        width: 95%;
        padding: 5px;
    }

    .creators h1 {
        font-size: 18px;
    }

    .names {
        flex-direction: row;
        text-align: center;
    }

    .names p {
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    nav ul {
        position: fixed;
        left: -100%;
        top: 3.5rem;
        padding-top: 25%;
        padding-bottom: 25%;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    .navbtn {
        padding: 10px 20px;
        font-size: large;
        border-radius: 25px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border: none;
        transition: all 0.2s;
        cursor: pointer;
        width: 175px;
    }

    nav ul.active {
        left: 0;
    }

    nav ul li {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 10000;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-links {
        padding: 4%;
        word-spacing: 30px;
    }

    .links {
        font-size: 16px;
    }

    .reachus {
        width: 70%;
        padding: 15px;
        max-width: 320px;
        margin-bottom:15px;
    }

    .phone-container {
        font-size: 16px;
        margin-top: 8px;
    }

    .footer-heading 
    {
        font-size: 20px;
    }

    .creators .footer-hr {
        margin-bottom: 12px;
        width: 65%;

    }
    .footer-hr{
        margin-bottom: 0 auto;
        width: 100%;
    }

    .reachus h3 {
        font-size: 17px;
    }

    .reachus p {
        line-height: 1.4;
    }

    .phone {
        margin-top: 8px;
        font-size: 16px;
    }

    .icons {
        gap: 12px;
    }

    #reach {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .creators {
        width: 80%;
        padding: 8px;
    }

    .creators h1 {
        font-size: 20px;
    }

    .names {
        flex-direction: row;
        text-align: center;
    }

    .names p {
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    nav ul {
        position: fixed;
        left: -100%;
        top: 3.5rem;
        padding-top: 25%;
        padding-bottom: 25%;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    .navbtn {
        padding: 10px 20px;
        font-size: large;
        border-radius: 25px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border: none;
        transition: all 0.2s;
        cursor: pointer;
        width: 175px;
    }

    nav ul.active {
        left: 0;
    }

    nav ul li {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 10000;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-links {
        padding: 2%;
        word-spacing: 40px;
    }

    .links {
        font-size: 18px;
    }

    .reachus {
        width: 50%;
        padding: 18px;
        max-width: 350px;
        margin-bottom:15px;
    }

    .phone-container {
        font-size: 16px;
        margin-top: 10px;
    }

    .footer-heading {
        font-size: 22px;
    }
    .creators .footer-hr {
        margin-bottom: 15px;
        width: 60%;
    }
    .footer-hr{
        margin-bottom: 0 auto;
        width: 100%;
    }

    .reachus h3 {
        font-size: 18px;
    }

    .reachus p {
        line-height: 1.4;
    }

    .phone {
        margin-top: 10px;
        font-size: 16px;
    }

    .icons {
        gap: 15px;
    }

    #reach {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .creators {
        width: 70%;
        padding: 10px;
    }

    .creators h1 {
        font-size: 22px;
    }

    .names {
        flex-direction: row;
        text-align: center;
    }

    .names p {
        margin-bottom: 10px;
    }
}
