* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');


body {
    background-image: url('img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    color: #FFD700;
    text-transform: uppercase;
}

nav {
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-end-end-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

li {
    margin: 0 10px;
}

.navbtn {
    padding: 10px 20px;
    font-size: large;
    border-radius: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
}

.navbtn:hover {
    background-color: #0299b8;
    transform: scale(1.2);
    transform: translateY(-0.3em);
    box-shadow: 0 10px 8px #56a1b3;
}

h1 {
    color: black;
    margin: 20px 0;    
}

h1 span {
    font-size: 1.75em;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    li {
        margin: 5px 0;
    }

    .logo {
        width: 200px;
        margin: 0;
    }



    h1 {
        font-size: 2em;
    }

    h1 span {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        width: 150px;
    }

    nav {
        padding: 2%;
    }

    ul {
        margin-top: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    h1 span {
        font-size: 1.25em;
    }
}
.countdown-container {
    text-align: center;
    color:#FFDD00;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

.countdown h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.time {
    text-align: center;
}

.time span {
    font-size: 48px;
    display: block;
    margin-bottom: 10px;
}

.time p {
    font-size: 18px;
    margin: 0;
}

.contactus{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 2%;
    padding: 1%;
}
.Copyright{
    color: black;
}