* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');


body {
    background-image: url('img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    color: #FFD700;
    text-transform: uppercase;
}

nav {
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-end-end-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(50px);
    position: relative;
    z-index: 1000;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


.logo {
    width: 150px;
    margin-left: 10px;
}

.ieee{
    width: 30%;
}

nav ul {
    list-style-type: none;
    margin-right: 20px;
    display: flex;
    float: right;
}
nav ul li {
    margin: 0 7px;
    display: inline-block;
}
.no-scroll {
    overflow: hidden;
}
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    color: #fff;
    right: 2%;
    z-index: 10000;
}

.navbtn {
    padding: 10px 20px;
    font-size: large;
    border-radius: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    transition: all 0.2s;
    cursor: pointer;
    width: 158px;
}
.navbtn:hover {
    background-color: #0299b8;
    transform: translateY(-0.3em);
    box-shadow: 0 10px 8px #56a1b3;
}

  
h1 {
    color: black;
    margin: 20px 0;    
}

h1 span {
    font-size: 1.75em;
}

.countdown-container {
    text-align: center;
    color:#FFDD00;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

.countdown h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.time {
    text-align: center;
}

.time span {
    font-size: 48px;
    display: block;
    margin-bottom: 10px;
}

.time p {
    font-size: 18px;
    margin: 0;
}

.contactus{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 2%;
    padding: 1%;
}
.Copyright{
    color: black;
}

@media only screen and (max-width: 768px) {
    nav ul {
        position: fixed;
        left: -100%;
        top: 3.5rem;
        padding-top: 25%;
        padding-bottom: 25%;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }
    .navbtn {
        padding: 10px 20px;
        font-size: large;
        border-radius: 25px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border: none;
        transition: all 0.2s;
        cursor: pointer;
        width: 175px;
    }

    nav ul.active {
        left: 0;
    }

    nav ul li {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 10000;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}